<% layout('layouts/boilerplate.ejs') %> 

<link rel="stylesheet" href="/stylesheets/index.css">
    
    <div class="container">

    <% Object.values(championList.data).forEach(function(champion) { %>
        

        <div class="champion">
       <img class="champion_icon" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/<%= champion.key %>.png" alt="">

        <p class="champion_name"><%= champion.name %> </p>
        </div>
    
            <% })  %> 
        
        </div>
