

.champion_icon {
    width: 5rem;
    margin-left: 0.5em;
    border: 0.1em solid #7A7A65;
    margin-right: 0.5em;
    border-radius: 0.3em;
    
}

.container {
    margin: 2em auto;
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction:row;
    flex-wrap: wrap;
    border: 2px solid #777766;
    padding: 1em;
}

.champion_name {
    text-align: center;
    display: block;
    color: #7A7A65;
    text-decoration: none;
    margin: 0.5em auto;
} 

.champion_icon:hover{
    transition: all;
    color: #937341;
    opacity: 0.8;
    outline: 1px solid #937341;
}


