

.champion_icon {
    width: 5rem;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

.container {
    margin: 2em auto;
    width: 45%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    flex-direction:row;
    flex-wrap: wrap;
    border: 2px solid #777766;
    padding: 1em;
}

.champion_name {
    text-align: center;
    display: block;
    padding: auto;
    color: #7A7A65;
    text-decoration: none;
} 


